@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
body {
    font-family: 'Noto Sans', sans-serif;
    background-image: url("../images/backgoundImg.jpg");
    backdrop-filter: blur(40px);
}
.indexMain{
    border: solid black;
    background-color: rgba(255, 255, 255, 0.575);
    padding: 20px;
    width: 90%;
    margin: auto;
}

nav {
    display: flex;
    background-color: #ffffffd1;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    /* Set display, margin, padding, font-size, background-color */
    display: inline-block;
    padding: 10px 20px;
    font-size: large;
}

nav a {
    /* Set text decoration*/
    text-decoration: none;
}

a:visited {
    /* Set color */
    color: black;
}

a:hover {
    color: #ed94b5;
}

.active {
    /* Set text decoration, transformation, and underline properties */
    text-decoration: underline;
    text-underline-offset: 10px;
    font-weight: bold;
}

h1 {
    /*Set font and font size*/
    font-size: 2.2rem;
    font-weight: 600;
}

h2, dt {
    /*Set font, font size, and alignment*/
    font-size: 2rem;
    text-align: center;
}
h3{
    font-size: 1.2rem;
}
.dicExplain{
    padding: 0 10px 10px 10px;
}
.grid h3{
    /*Set font size*/
    padding: 0 10px;
}

h1,
h2,
h3 {
    /*Set margin */
    margin: 0 10px;

}

.grid {
    /*Set width, margin, border properties, background color, and grid properties */
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    border-radius: 20px;
    justify-content: space-between;
    grid-row-gap: 10px;
}

.grid div {
    /* Set border properties, padding, and background color */
    border: solid black;
    background-color: rgba(255, 255, 255, 0.575);;
    padding: 20px;
}

.grid img {
    /* Set width, margin, and display */
    padding: 3px;
    width: 90%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.grid img:hover {
    border: solid black 5px !important;
}

.grid div:nth-child(3n+1) img {
    border: solid rgb(246, 187, 187) 5px;
}

.grid div:nth-child(3n+2) img {
    border: solid rgb(216, 216, 156) 5px;
}

.grid div:nth-child(3n) img {
    border: solid rgb(156, 156, 241) 5px;
}

p+p {
    margin: 10px;
}

p {
    margin: 0 10px;
}

footer {
    background-color: #ffffffd1;
    color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.skip {
    position: absolute;
    left: -1000px;
}

.skip:focus {
    left: 0px;
}
.aboutImg {
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    animation-name: rotate;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
dl{
    width: 90%;
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
    grid-row-gap: 10px;
    margin: auto;
}
dl div{
    border: solid black;
    background-color: rgba(255, 255, 255, 0.575);
    padding: 20px;
}
@media only screen and (max-width: 768px) {
    body {
        font-size: 12px;
    }

    nav {
        flex-direction: column;

        padding: 10px;
    }

    nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    .grid {
        grid-template-columns: 100%;
        border-radius: 20px;
        justify-content: space-between;
        grid-row-gap: 10px;
    }

    dl p{
        padding: 0 0 10px 0;
    }
    dt{
        padding: 10px 0;
    }
    h1 {
        padding: 10px;
    }

    .grid p {
        padding: 0 10px;
    }

    .grid ul li {
        /* Set margin, line-spacing, list styling  */
        margin: 10px 0px 10px 20px;
        line-height: 1;
        list-style: inside;
    }
}
@media (prefers-reduced-motion: reduce) {
    .aboutImg {
      animation-duration: 0s;l
    }
  }